<h1>Events</h1>
  <%= link_to "Create Event A", new_event_path(event_type: "A"), class: "btn btn-primary event-button" %>
  <%= link_to "Create Event B", new_event_path(event_type: "B"), class: "btn btn-primary event-button" %>
<br>